*.rf-ntf-cnt *.rf-ntf-ico {
    /* 
     * This accounts for MyFaces Severity Fatal ordinal is 4 and does not work with RichFaces.
    */
    display: block;
    background-image: url('#{richFacesUtils.notificationIconURL(4)}');
}
*.rf-ntf-sum *.rf-ntf-det {
    /* 
     * This accounts for MyFaces Severity Fatal ordinal is 4 and does not work with RichFaces.
    */
    color: black !important;
}
*.rf-ntf-inf *.rf-ntf-ico {
    display: block;
    color: black !important;
    background-image: url('#{richFacesUtils.notificationIconURL(0)}');
}
*.rf-ntf-wrn *.rf-ntf-ico{
    display: block;
    color: black !important;
    background-image: url('#{richFacesUtils.notificationIconURL(1)}');
}
*.rf-ntf-wrn{
    color: black !important;
}
*.rf-ntf-err *.rf-ntf-ico {
    display: block;
    color: black !important;
    background-image: url('#{richFacesUtils.notificationIconURL(2)}');
}
*.rf-ntf-err{
    color: black !important;
}
*.rf-ntf-ftl *.rf-ntf-ico {
    display: block;
    color: black !important;
    background-image: url('#{richFacesUtils.notificationIconURL(3)}');
}
*.rf-ntf-ftl{
    color: black !important;
}
