<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Richfaces Messages and NotifyMessages</title>
    </h:head>
    <h:body>
        <h:form id="form1">
            <rich:notifyMessages id="nm" ajaxRendered="true" stayTime="50000" globalOnly="true" showSummary="true" showDetail="true"/>
            <rich:messages ajaxRendered="true" globalOnly="true" showDetail="true" showSummary="true"/>
            <rich:panel header="Welcome to Richfaces">
                <h:commandButton value="Create Messages" actionListener="#{indexBean.createMessages()}"/>
            </rich:panel>
        </h:form>
        <h:outputStylesheet library="css" name="default.css"/>
    </h:body>
</html>
